.board, .formbox{
    /* Add shadows to create the "card" effect */
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    transition: 0.1s;
    margin: 2em;
    padding: 0.5em;
    float:left;
    width:250px;
    height:150px;
    position:relative;
    word-wrap: break-word;
}

.formbox {
    margin-left: 70px;
    /*position: absolute;*/
}

/* On mouse-over, add a deeper shadow */
.board:hover, .formbox:hover {
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
}

#add-board {
    position: relative;;
    top:0px;
    left:0px;
}

#reset {
    position: relative;;
    /*top:55px;
    left:90px;*/
}


.board:hover, .formbox:hover {
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
}

.board-list {margin-top: 4em;}


.remove {margin: 0.5em;
    float: right;
}

.card, .formbox{
    /* Add shadows to create the "card" effect */
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    transition: 0.1s;
    margin: 2em;
    padding: 0.5em;
    float:left;
    width:250px;
    height:150px;
    position:relative;
    word-wrap: break-word;
}

.card-list {margin-top: 4em;}

#add-card {
    position: relative;;
    top:0px;
    left:0px;
}
